<div class="comment-form-wrap pt-5">
    <h3 class="mb-5">YORUM YAP</h3>
    <form method="post" class="p-5 bg-light">
        <div class="form-group">
            <label for="name">Ad *</label>
            <input type="text" class="form-control" name="CommentUser">
        </div>
        <div class="form-group">
            <label for="email">Email *</label>
            <input type="email" class="form-control" name="CommentMail">
        </div>
        <input type="hidden" name="CommentDate" value="@DateTime.Now.ToShortDateString()"/>
        <input type="hidden" name="BlogID" value="@ViewBag.id"/>
        <div class="form-group">
            <label for="message">Yorum</label>
            <textarea name="CommentText" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Subscribe">
        </div>

    </form>
</div>
