
<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="https://images.unsplash.com/photo-1578357078586-491adf1aa5ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80images/img_1.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-5 ml-auto">
                <h2>Hizmetlerim</h2>
              
                <ul class="ul-check list-unstyled success">
                    <li>Kronik hastalıklarda beslenme danışmanlığı</li>
                    <li>Kilo kontrol programları (sağlıklı kilo alma- kilo koruma - kilo verme)</li>
                    <li>Sirkadiyen ritme uygun beslenme danışmanlığı</li>
                    <li>Hamilelik döneminde beslenme danışmanlığı</li>
                    <li>Anne Çocuk beslenme danışmanlığı</li>
                    <li>Özel beslenme danışmanlığı (Vejetaryen- Vegan- ketojenik- IF)</li>
                    <li>Sporcu beslenme danışmanlığı</li>
                </ul>
            </div>
        </div>
    </div>
</div>
